*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  
}
.navbar ul{
  list-style: none;
}
.navbar ul li{
  border: 1px solid red;
  font-size: larger;
  padding: 5px 20px;
  background-color: white;
}

.navbar ul li Link{
  color: white;
}